@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbars gracefully */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Globally hide scrollbars in Edge/Chromium while preserving scroll */
html,
body,
#root {
  height: 100%;
}

body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}